:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #646cff;
  --color-secondary: #535bf2;
  --color-tertiary: #1a1a1a;
  --color-background: #242424;
  --color-background-secondary: #2f2f2f;
  --color-text: #f9f9f9;
  --color-text-secondary: #747bff;
  --color-border: #3a3939;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #646cff;
    --color-secondary: #535bf2;
    --color-tertiary: #f9f9f9;
    --color-background: #ffffff;
    --color-background-secondary: #f9f9f9;
    --color-text: #213547;
    --color-text-secondary: #747bff;
    --color-border: #e0e0e0;
  }
}

html {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 454px
}

*, *:before, *:after {
  box-sizing: inherit
}

a {
  font-weight: 500;
  color: var(--color-primary);
  text-decoration: inherit;
}

a:hover {
  color: var(--color-secondary)
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


table {
  flex: 1;
  width: 100%;
  border-collapse: collapse;
  height: auto;
}

th, td {
  border: none;
  padding: 0.5rem;
}

th {
  white-space: nowrap;
  text-align: left;
}

td {
  text-align: left;
  border: 1px solid var(--color-border);
  max-height: 2rem;
}

td:first-child {
  white-space: nowrap;
}

td.right {
  text-align: right;
}

fieldset {
  border: 1px solid var(--color-border);
  padding: 0.75rem 0.5rem 0.5rem 0.5rem;
  text-align: left;
  margin-bottom: 1rem;
  user-select: none;
  background-color: var(--color-background-secondary);
}

input[type=text] {
  border: 1px solid var(--color-border);
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem;
  outline-color: var(--color-primary);
}

input[type=checkbox] {
  margin: 0 0.25rem 0 0 ;
  vertical-align: middle;
}

label {
  display: block;
  line-height: 2rem;
  cursor: pointer;
}

.filters {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter {

  .filter-box {

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: fit-content;
    cursor: pointer;
    border: 1px solid var(--color-border);
    padding: 1rem 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--color-background);
    z-index: 1;

    .filter-name {
      line-height: 0;
    }

    .filter-count {
      background-color: black;
      color: white;
      font-weight: 700;
      padding: 0.1rem 0.25rem;
      margin: 0 0.15rem;
    }

    .filter-wedge {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      transform: rotate(-90deg);
      line-height: 0;
      transition: 150ms all ease-in;
    }

    &:hover {
      border-color: black;
    }
  }

  .filter-popup {
    position: absolute;
    background-color: var(--color-background);
    border: 1px solid black;
    min-height: 15rem;
    height: fit-content;
    max-height: 30rem;
    width: 20rem;
    overflow-y: scroll;
    margin-top: -1px;
    z-index: 0;

    &.hidden {
      height: 0px;
      min-height: 0px;
    }

    .list {
      padding: 1rem 0rem;

      label {
        display: flex;
        padding-left: 1rem;
      }
    }

  }

  &.open {

    .filter-box {
      border-bottom: 0px;
      padding-bottom: 1.5rem;
      margin-bottom: 0px;
      border-color: black;
    }

    .filter-wedge {
      transition: 150ms all ease-in;
      transform: rotate(90deg);
    }
  }
}
