on:
  push:
    branches:
      - main
  pull_request: { }
  merge_group:
    types:
      - checks_requested
permissions:
  contents: read
jobs:
  build:
    name: Build and check database and frontend
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout project
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'
      - name: Install npm dependencies
        run: npm ci
        working-directory: frontend
      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: "stable"
      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5
        with:
          shared-key: "check"
          cache-all-crates: true # Also cache taplo-cli
      - name: Install tools
        run: cargo install taplo-cli --locked
      - name: Clippy
        run: cargo clippy --locked --all-targets --all-features --workspace -- -Dwarnings
      - name: Test rust
        run: cargo test --locked
      - name: Check rust formatting
        run: cargo fmt --all --check
      - name: Check frontend formatting
        run: npm run fmt-check
        working-directory: frontend
      - name: Check driver-db syntax
        run: taplo check driver-db/*.toml
      - name: Check driver-db formatting
        run: taplo fmt --check --diff
      - name: Download db-dump
        run: wget --no-verbose https://static.crates.io/db-dump.tar.gz
      - name: Build database
        run: cargo run --locked --release --bin read-driver-db
      - name: Copy generated database to frontend
        run: cp full-crate-db.json frontend/src/
      - name: Check frontend
        run: npm run check -- --fail-on-warnings
        working-directory: frontend
      - name: Build frontend
        run: npm run build
        working-directory: frontend