on:
  schedule:
    - cron: '0 3 * * TUE'
  push:
    branches:
      - main
jobs:
  build:
    name: Build database and frontend
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout project
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: 'frontend/package-lock.json'
      - name: Install npm dependencies
        run: npm ci
        working-directory: frontend
      - name: Install toolchain
        uses: dtolnay/rust-toolchain@e97e2d8cc328f1b50210efc529dca0028893a2d9
        with:
          toolchain: "stable"
      - name: Rust cache
        uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0
        with:
          shared-key: "build"
      - name: Download db-dump
        run: wget --no-verbose https://static.crates.io/db-dump.tar.gz
      - name: Build database
        run: cargo run --locked --release --bin read-driver-db
      - name: Copy generated database to frontend
        run: cp full-crate-db.json frontend/src/
      - name: Build frontend
        run: npm run build -- --base="/${{github.event.repository.name}}/"
        working-directory: frontend
      - name: Updload to gh-pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: frontend/dist
  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

